body {
  padding-top: 60px;
  font: 14px "Open Sans", Calibri, Candara, Arial, sans-serif;
}

.filter{
	padding:8px;
}

/*overview*/
.overview {
	text-align: right;
	padding:10px;
	font-size:1.5em;
}

.overview span {
	color:white;
	display:inline;
	padding:5px 12px;
	border-radius: 5px;
}

.overview .up{
	background-color:green;
}
.overview .down{
	background-color:red;
}
.overview .total{
	background-color:gray;
}

time{
	font-size:0.8em;
	color:gray;
}

.avgresponse {font-weight:bold;;}


.icon-error {
	background: transparent url("/images/red.png") 5px 5px no-repeat;
}

/*ok*/
.icon-success {
	background: transparent url("/images/green.png") 5px 5px no-repeat;
}

.error, .failure, .critical {color:red;}
.success {color:green;}
.warning, .warnings{color:orange;}

.last_check{
	font-size:11px;
	color:gray;
}

.status_icon{
	max-width:35px;
	max-height:25px;
}

footer{
	color:gray;
	padding:20px;
	text-align: center;
}

footer a {
	color:#c2c2c2;
}
