<!DOCTYPE html>
<html>
  <head>
    <title>NightOwl</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.extra.css' />
    <script src="/js/vendor/jquery-1.8.0.min.js" type="text/javascript"></script>
  </head>
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">nightowl</a>
        <div class="overview" id="totals_holder"></div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <%- body %>
  </div>

  <footer>
    <a target="_blank" href="https://github.com/jasonhooten/nightowl">nightowl source code (github)</a> |
  </footer>

  <script id='totals_template' type="text/x-handlebars-template">
    <span class="up">{{up}}</span>
    +
    <span class="down">{{down}}</span>
    +
    <span class="total">{{disabled}}</span>
  </script>

  <script src="/js/vendor/handlebars-1.0.0.beta.6.js"></script>
  <script src="/js/vendor/moment.min.js" type="text/javascript"></script>
  <script src="/js/vendor/jquery.tablesorter.min.js"></script>

  <script src="/js/handlebars_helpers.js"></script>
  <script src="/js/nightowl.js"></script>
  </body>
</html>