<script id='services_list_template' type="text/x-handlebars-template">

<table class="table table-striped table-hover sorted">
  <thead>
    <th>Status</th>
    <th class="hidden-xs">Ping type</th>
    <th>Service</th>
    <th><span title="Average response time (milliseconds)">AVG res.</span></th>
    <th>outages</th>
    <th>last outage</th>
    <th class="hidden-xs">warnings</th>
    <th class="hidden-xs">last warning</th>
    <th class="hidden-xs">uptime</th>
    <th class="hidden-xs">Details</th>
  </thead>
  <tbody>

  {{#each services}}
  <tr>

    <td class="icon-{{data.status}}">
    </td>

    <td class="hidden-xs">
      {{ping_service_name}}
    </td>

    <td class="hosturl">
      <a target="_blank" href="{{host.protocol}}://{{host.host}}:{{host.port}}{{url}}">
        {{host.name}} / {{name}}
      </a>
      <br />
      <span title="ping interval: {{ping_interval}} seconds" class="label label-info">{{ping_interval}}</span>
      {{#if warning_if_takes_more_than}}
      <span title="response limit (warning): {{warning_if_takes_more_than}} milliseconds" class="label label-warning">{{warning_if_takes_more_than}}</span>
      {{/if}}

      <span title="{{data.ok_responses_count}} successful responses" class="label label-success">{{data.ok_responses_count}}</span>

      <br />

      {{#if data.last_check}}
      <span class="last_check">
        last check:
        {{dateFormat data.last_check format="MMM Do, h:mm:ss"}}
        <time datetime='{{dateFormat data.last_check format="MMMM Do, h:mm:ss"}}'>{{dateFormat data.last_check ago=true}}</time>
      </span>
      {{/if}}
    </td>

    <td class="avgresponse">
      {{data.avg_response_time}}
    </td>

    <td>
      {{#if data.outages}}
      <span class="badge badge-important">{{data.outages}}</span>
      {{/if}}
    </td>

    <td>
      {{#if data.last_outage}}
      {{dateFormat data.last_outage format="MMM Do, h:mm:ss"}}
      <br />
      <time datetime='{{dateFormat data.last_outage format="MMMM Do, h:mm:ss"}}'>{{dateFormat data.last_outage ago=true}}</time>
      {{/if}}
    </td>

    <td class="hidden-xs">
      {{#if data.warnings}}
      <span class="badge badge-warning">{{data.warnings}}</span>
      {{/if}}
    </td>

    <td class="hidden-xs">
      {{#if data.last_warning}}
      {{dateFormat data.last_warning format="MMM Do, h:mm:ss"}}
      <br />
      <time datetime='{{dateFormat data.last_warning format="MMMM Do, h:mm:ss"}}'>{{dateFormat data.last_warning ago=true}}</time>
      {{/if}}
    </td>

    <td class="hidden-xs">
      {{#if data.uptime}}
        {{data.uptime}}%
      {{/if}}
      <br />
      {{#if data.up_since}}
        <time datetime='{{dateFormat data.up_since format="MMMM Do, h:mm:ss"}}'>started {{dateFormat data.up_since ago=true}}</time>
      {{/if}}
    </td>

    <td class="hidden-xs">
      <a class="btn btn-primary" href="/details?service={{name}}&host={{host.name}}"><i class="fa fa-cog fa-2x"></i></a>
    </td>

  </tr>
  {{/each}}
  </tbody>
</table>

</script>

<div id="data_holder"></div>

<script>
$(document).ready(function() {
  $('#filter').keydown(function(event){
    nightowl_client.bind(_data, $(this).val());
  });
  nightowl_client.refresh();
});
</script>